.address {
  width: 320px;
  margin: 0 auto;
}

.address__slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  text-transform: uppercase;

  color: #111111;
}

.address__text {
  font-weight: 400;
  font-size: 14px;
  font-family: @font-arial;
  line-height: 1.43em;

  color: #444444;
}
