.address--cat {
  background-color: #f2f2f2;
}

.address__wrapper-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.address__invitation {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  width: 123px;
  margin-top: 31px;
  margin-bottom: 26px;

  color: #111111;
}

.address__wrapper-location {
  margin-top: 5px;
  width: 139px;
}

.address__location {
  font-weight: 400;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 20px;

  margin: 0;

  color: #444444;
}

.address__location:first-child {
  margin-bottom: -5px;
}

.address__map {
  min-width: 100%;
  height: 362px;

  overflow: hidden;
  background: url("../img/map-pin.png") no-repeat 50% 50%, url("../img/bg-map-mobile@1x.png") no-repeat 50% 50%;
}

@media (min-width: @width-tablet) {
  .address__wrapper-position {
    justify-content: space-between;

    width: 628px;
    padding: 63px 70px 58px;
    margin: auto;
  }

  .address__map {
    height: 396px;
    background: url("../img/map-pin.png") no-repeat 50% 50%, url("../img/bg-map-tablet@1x.png") no-repeat 50% 50%;
  }

  .address__invitation {
    font-size: 20px;
    line-height: 25px;

    width: 155px;
    margin-left: -105px;
    margin-right: 280px;
  }

  .address__wrapper-location {
    width: 155px;
    text-align: right;
  }

  .address__location {
    font-size: 16px;
  }

  .address__location:first-child {
    margin-bottom: 10px;
  }
}

@media (min-width: @width-desktop) {
  .address {
    margin-bottom: 0;
  }

  .address__map {
    background: url("../img/bg-map-desktop@1x_pin.png") no-repeat 50% 50%;
  }

  .address__wrapper {
    position: relative;
  }

  .address__wrapper-position {
    position: absolute;
    left: 0;
    top: 100px;

    width: 570px;
    padding-left: 75px;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #ffffff;
  }

  .address__invitation {
    margin-left: 0;
    margin-right: 95px;
  }

  .address__wrapper-location {
    text-align: left;
  }
}
