.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .advantages__title {
    font-size: 60px;
  }
}

.advantages__text {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #444444;
}

@media (min-width: @width-tablet) {
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__list {
  .reset-list();
}
