.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @font-oswald;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;

  padding: 13px 0;
  margin: auto;

  color: #ffffff;
  background-color: #68b738;
  border: none;

  box-sizing: border-box;

  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #90c56e;
  }
}
