.catalog__list {
  .reset-list();
}

.catalog__description-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .catalog__description-title {
    font-size: 20px;
  }
}

.catalog__description-link {
  color: #111111;
  text-transform: uppercase;
}

.catalog__text-show {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .catalog__text-show {
    font-size: 20px;
  }
}

.catalog__text-tastes {
  font-weight: 400;
  font-family: @font-arial;
  font-size: 12px;
  line-height: 16px;

  color: #444444;
}

@media (min-width: @width-tablet) {
  .catalog__text-tastes {
    font-size: 16px;
  }
}

// Buttons
.catalog__button-to-all {
  color: #444444;
  background-color: #f2f2f2;
}

.catalog__button-order {
  color: #ffffff;
  background-color: #68b738;
}
