// An example story + table
.example {
  margin-bottom: 31px;
}

.example__wrapper {
  background-color: #f2f2f2;
  margin-bottom: 36px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: left;

  margin: 0;
  margin-top: 63px;
  margin-bottom: 23px;

  color: #111111;
}

.example__text {
  font-weight: 400;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;

  width: 266px;
  margin-bottom: 40px;

  color: #444444;
}

.example__cost {
  text-align: center;
}

.example__cost-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  margin: auto;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .example__wrapper {
    background-color: #ffffff;
  }

  .example__title {
    font-size: 60px;

    margin-bottom: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;

    width: 676px;
  }

  .example__wrapper-tabl {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 84px;
    padding: 18px 0;
  }

  .example__cost {
    width: 174px;
    text-align: right;
  }

  .example__cost-text {
    font-size: 20px;
  }
}

@media (min-width: @width-desktop) {
  .example {
    width: 100%;
    height: 558px;
    padding: 0 0 97px;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 29.5%, transparent 29.5%, transparent 100%), linear-gradient(to right, #f2f2f2 0%, #f2f2f2 80%, #eaeaea 80%, #eaeaea 100%);
    display: flex;
    justify-content: center;
  }

  .example__wrapper {
    background-color: #f2f2f2;
  }

  .example__title {
    margin-bottom: 140px;
  }

  .example__text {
    width: 435px;
  }

  .example__wrapper-tabl {
    flex-direction: column;
    align-items: flex-start;

    width: 430px;
    padding-top: 22px;
  }

  .example__cost {
    width: 280px;
    padding-left: 0;
  }
}

// Slider
.example__slider {
  background-color: #f2f2f2;
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 200px;
  margin: auto;

  position: relative;

  text-transform: uppercase;
  font-size: 16px;
}

.example__toggle-slider {
  width: 82px;
  height: 12px;

  position: relative;
  z-index: 3;

  cursor: pointer;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}

.example__toggle-button {
  width: 35px;
  height: 6px;

  position: absolute;
  z-index: 4;

  left: 4px;
  top: 3px;

  cursor: pointer;

  border-radius: 3px;
  background-color: #68b738;
}

.example__cats {
  height: 230px;
  margin-bottom: 36px;

  background: url("../img/before-mobile@1x.png") no-repeat center;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .example__cats {
    background: url("../img/before-mobile@2x.png") no-repeat center;
    background-size: 320px auto;
  }
}

@media (min-width: @width-tablet) {
  .example__cats {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 520px;
    margin-bottom: 18px;

    position: relative;

    background: none;
  }

  .example__cat-before,
  .example__cat-after {
    width: 50%;
    height: 517px;
  }

  .example__cat-before {
    background: url("../img/before-tablet@1x.png") no-repeat -5% center;
  }

  .example__cat-after {
    background: url("../img/after-tablet@1x.png") no-repeat 100% center;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .example__cat-before {
      background: url("../img/before-tablet@2x.png") no-repeat -5% center;
      background-size: 690px auto;
    }

    .example__cat-after {
      background: url("../img/after-tablet@2x.png") no-repeat 100% center;
      background-size: 690px auto;
    }
  }

  .example__toggle {
    width: 569px;
    font-size: 20px;
    margin: auto;
    padding-bottom: 72px;
  }

  .example__toggle-text {
    cursor: pointer;
    border-bottom: dotted 1px #cdcdcd;

    &:hover {
      border-bottom: solid 1px #999999;
    }

    &:active {
      border-bottom: none;
    }
  }

  .example__toggle-slider {
    width: 428px;
    height: 6px;

    border-radius: 2.5px;
    background-color: #dcdcdc;
    border: 0;
  }

  .example__toggle-button {
    left: 47%;
    top: -14px;

    width: 30px;
    height: 30px;

    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background: radial-gradient(#68b738 0, #68b738 20%, #ffffff 20%, #ffffff 100%);
    border: solid 1px #cdcdcd;
  }

  .example__toggle-button:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .example__toggle-button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 2px #68b738;
    border-radius: 16px;
  }
}

@media (min-width: @width-desktop) {
  .example__slider {
    width: 650px;
    padding-left: 0;

    background: none;
  }

  .example__cats {
    width: auto;
    margin-bottom: -1px;
  }

  .example__cat-before {
    background: url("../img/before-desktop@1x.png") no-repeat 32% center;
  }

  .example__cat-after {
    background: url("../img/after-desktop@1x.png") no-repeat 100% center;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .example__cat-before {
      background: url("../img/before-desktop@2x.png") no-repeat 32% center;
      background-size: 690px auto;
    }

    .example__cat-after {
      background: url("../img/after-desktop@2x.png") no-repeat 100% center;
      background-size: 690px auto;
    }
  }
}
