.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67em;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .example__title {
    font-size: 60px;
    line-height: 1em;
  }
}

.example__text {
  font-weight: 400;
  font-size: 14px;
  font-family: @font-arial;
  line-height: 1.29em;

  color: #444444;
}

@media (min-width: @width-tablet) {
  .example__text {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.example__money {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43em;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: @width-tablet) {
  .example__money {
    font-size: 20px;
    line-height: 1em;
  }
}
