.extra-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1em;

  color: #111111;
}

.extra-products__list {
  .reset-list();
}

.extra-products__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;

  color: #222222;
}
