.page-main {
  overflow: hidden;
}

.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;

  text-align: center;
  margin: auto;

  color: #111111;
}

.page-main__title--catalog {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 28px;
}

.page-main__title--form {
  text-align: left;

  padding-top: 28px;
  padding-bottom: 35px;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .page-main__title {
    font-size: 60px;
    text-align: left;

    margin: 0;
  }

  .page-main__title--catalog {
    margin-bottom: 110px;
  }

  .page-main__title--form {
    padding: 0;
    margin-bottom: 54px;

    border: none;
  }
}

@media (min-width: @width-desktop) {
  .page-main__title--catalog {
    padding-left: 0;
    margin-top: 18px;
    margin-bottom: 165px;
  }

  .page-main-title--form {
    margin-left: 113px;
  }
}
