.page-header {
  width: 320px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

@media (min-width: @width-tablet) {
  .page-header {
    height: 60px;
    flex-direction: row;
  }
}

@media (min-width: @width-desktop) {
  .page-header {
    height: 60px;
    flex-direction: row;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
}

.page-header__logo-img {
  height: 39px;
}
