.page-header {
  min-height: 40px;
}

.page-header__wrapper-big {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 13px;
  margin-bottom: 10px;
}

.page-header__logo-img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @width-tablet) {
  .page-header {
    min-height: 60px;
    margin-bottom: 44px;

    border-bottom: none;
  }

  .page-header__wrapper-big {
    flex-direction: row;
    justify-content: space-between;

    margin: auto;

    border: none;
  }

  .page-header__wrapper {
    justify-content: space-between;
    flex-shrink: 0;

    padding: 0;
  }

  .page-header__logo-img {
    width: 174px;
    height: auto;

    margin-right: 93px;
    margin-top: 12px;
  }
}

@media (min-width: @width-desktop) {
  .page-header {
    margin-bottom: 40px;
  }

  .page-header--cat {
    position: relative;
    margin-bottom: 0;

    &::after {
      content: "";

      width: 50vw;
      height: 696px;

      position: absolute;
      z-index: -2;

      top: 0;
      right: 0;

      background: url("../img/index-background-desktop@1x.jpg") no-repeat center / 100%;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      &::after {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .page-header--cat .main-nav__item-link {
    color: #ffffff;
  }

  .page-header--cat .main-nav__item--active {
    border-bottom: 2px solid #ffffff;
  }

  .page-header__wrapper-big {
    justify-content: space-between;
  }

  .page-header__logo-img {
    width: 100%;
    height: auto;
    margin-top: 43px;
    margin-right: 545px;
  }
}
