.page-main {
  overflow: hidden;
}

.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .page-main__title {
    font-size: 60px;
  }
}
