.present {
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;

  text-align: center;

  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat center;
  background-color: #68b738;
}

.present__text {
  font-weight: 400;
  font-family: @font-arial;
  font-size: 16px;
  line-height: 20px;

  position: relative;

  width: 160px;
  margin: 0 auto;
  padding-top: 190px;

  color: #ffffff;

  &::after {
    content: "";

    position: absolute;
    left: 60px;
    bottom: 120px;

    width: 56px;
    height: 61px;

    background: url("../img/icon-gift.svg") no-repeat;
  }
}

@media (min-width: @width-tablet) {
  .present {
    margin: 25px 0 31px;
    width: @width-tablet;

    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
  }

  .present__text {
    text-align: left;

    padding: 0;
    padding-top: 77px;
    margin-left: 452px;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      left: -331px;
      bottom: 0;

      width: 56px;
      height: 61px;
    }
  }
}

@media (min-width: @width-desktop) {
  .present {
    margin: 0;
    width: 245px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .present__text {
    position: relative;

    text-align: center;

    padding: 0;
    padding-top: 187px;
    margin: auto;

    &::after {
      content: "";

      position: absolute;
      left: 54px;
      bottom: 120px;

      width: 56px;
      height: 61px;
    }
  }
}
