.present {
  width: 320px;
  margin: 0 auto;
}

.present__wrapper {
  width: 280px;
  height: 289px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
}

.present__text {
  font-weight: 400;
  font-size: 16px;
  font-family: @font-arial;
  line-height: 1.25em;
  color: #ffffff;
}
