.program-form {
  padding-bottom: 11px;
}

.program-form__form {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  margin-bottom: 20px;
}

.program-form__field {
  display: block;

  padding: 0;
  padding-bottom: 9px;
  margin: 0;
  margin-bottom: 20px;

  border: none;
}

.program-form__wrapper-info {
  margin-bottom: 28px;
  width: 322px;
}

.program-form__field-legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  width: 280px;

  padding: 0;
  margin-left: 1px;
  margin-bottom: 37px;

  color: #111111;
}

.program-form__field-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  display: inline;
  position: relative;
  z-index: 1;

  margin: 0;
  padding-top: 0;
  padding-right: 23px;

  color: #111111;
  background-color: #ffffff;

  &::after {
    content: "";

    height: 3px;
    width: 100vw;
    position: absolute;
    top: 55%;
    z-index: -2;

    background-color: #68b738;
  }
}

.program-form__field-label,
.program-form__field-input {
  font-weight: 400;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__field-label {
  display: flex;
  align-items: center;

  margin-bottom: 11px;

  color: #222222;
}

.program-form__field-label sup {
  top: inherit;
  font-size: 100%;
}

.program-form__field-label--mail {
  position: relative;
}

.program-form__field-label--phone {
  position: relative;
}

.program-form__field-label--mail svg {
  position: absolute;
  left: 246px;
  top: 16px;
}

.program-form__field-label--phone svg {
  position: absolute;
  left: 246px;
  top: 16px;
}

.program-form__field-input {
  padding: 14px;
  margin-left: 16px;
  flex-grow: 1;

  outline: none;

  color: #444444;
  border: solid 1px #e7e7e7;

  &:hover {
    border: solid 1px #cdcdcd;
  }

  &:focus {
    border: solid 2px #444444;
  }

  &:focus + svg {
    fill: #68b738;
  }

  &:invalid {
    border: solid 2px #ff8282;
  }

  &:invalid + svg {
    fill: #ff8282;
  }
}

.program-form__wrapper-field {
  margin-bottom: 16px;
}

// Profile of the cat
.program-form__field--about-cat {
  width: 280px;
  padding-bottom: 0;
  margin-bottom: 11px;
}

// Purpose of the program
.program-form__field--purpose {
  padding: 27px 20px 3px 66px;
  margin-left: -20px;
  margin-right: 20px;
  margin-bottom: 14px;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.program-form__field--purpose .program-form__field-label {
  position: relative;

  padding-bottom: 24px;
  margin-bottom: 0;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: -46px;
    top: -8px;

    width: 28px;
    height: 28px;

    border-radius: 14px;
    border: solid 1px #cdcdcd;
    background-color: #ffffff;
  }
}

.program-form__field--purpose .program-form__field-label:hover {
  &::before {
    border: solid 1px #bababa;
  }
}

.program-form__field--purpose .program-form__field-label:active {
  opacity: 0.3;
}

//Users contacts
.program-form__wrapper-contacts {
  margin-top: 24px;
}

.program-form__field--contacts {
  padding: 0;
  margin: auto;
}

.program-form__field--contacts .program-form__field-title {
  width: 230px;
  padding: 0;

  margin-bottom: 32px;

  background-color: #ffffff;

  &::after {
    content: "";
    top: 32%;
  }
}

.program-form__field--contacts .program-form__field-input {
  margin-left: 12px;
}

//Users comments
.program-form__field--comment {
  margin: auto;
}

.program-form__field--comment .program-form__field-title {
  width: 160px;
  margin-bottom: 35px;

  background-color: #ffffff;
}

.program-form__field-textarea {
  font-weight: 400;
  font-family: @font-oswald;
  font-size: 16px;
  text-transform: uppercase;

  width: 280px;
  padding: 9px 10px 19px 15px;
  margin-top: 31px;

  color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);

  resize: none;
}

// Additional info
.program-form__field--extra {
  margin: auto;
  margin-bottom: 23px;
}

.program-form__field--extra .program-form__field-title {
  width: 185px;
  margin-bottom: 41px;

  background-color: #ffffff;

  &::after {
    content: "";
    height: 3px;
    width: 100vw;
    position: absolute;
    top: 52%;
    z-index: -2;
    background-color: #68b738;
  }
}

.program-form__wrapper-extra {
  display: flex;
  flex-direction: column;

  width: 280px;
  margin-top: 34px;
}

.program-form__field-label--extra {
  padding-bottom: 14px;
  margin-bottom: 10px;
  padding-left: 45px;

  position: relative;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: -1px;
    top: -6px;

    width: 29px;
    height: 29px;

    border: solid 1px #cdcdcd;
    background-color: #ffffff;
  }
}

.program-form__field-label--extra:hover {
  &::before {
    border: solid 1px #bababa;
  }
}

.program-form__field-label--extra:active {
  opacity: 0.3;
}

.program-form__field-label--extra:last-child {
  padding-bottom: 0;
}

// Checkboxes
.program-form__field-checkbox:checked + .program-form__field-option::after {
  content: "";

  width: 22px;
  height: 17px;

  position: absolute;
  left: 4px;
  top: 1px;

  background: url("../img/icon-tick.svg") no-repeat;
  z-index: 5;
}

// Radio buttons
.program-form__field-radio:checked + .program-form__field-option::after {
  content: "";

  width: 12px;
  height: 12px;

  position: absolute;
  left: -38px;
  z-index: 2;

  border-radius: 6px;
  background-color: #68b738;
}

.program-form__field-radio:focus + .program-form__field-option {
  font-weight: 600;
}

// Send a request button
.program-form__wrapper-request {
  display: flex;
  flex-direction: column;
}

.program-form__button-submit {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  width: 280px;
  padding: 10px 0;

  color: #ffffff;
  background-color: #68b738;
}

.program-form__request {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  margin-top: 18px;
}


@media (min-width: @width-tablet) {
  .program-form {
    padding-bottom: 2px;
  }

  .program-form__form {
    margin-bottom: 66px;
  }

  .program-form__wrapper-info {
    width: auto;
    margin-bottom: 75px;
  }

  .program-form__field-legend {
    font-size: 20px;
    line-height: 30px;

    width: 330px;
    padding-bottom: 0;
    margin-bottom: 65px;
  }

  .program-form__text {
    font-size: 20px;
    line-height: 30px;
  }

  .program-form__field-title {
    font-size: 36px;
    line-height: 36px;

    position: relative;
    z-index: 1;
  }

  .program-form__field-title::before {
    content: "";

    height: 3px;
    width: 100vw;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;

    background-color: #68b738;
  }

  .program-form__field-label,
  .program-form__field-input {
    font-size: 20px;
    line-height: 20px;
  }

  .program-form__field-label {
    width: auto;

    margin-bottom: 20px;
    margin-left: 2px;
  }

  .program-form__field-input {
    height: 52px;
    padding: 18px;
  }

  .rogram-form__field-input::placeholder {
    line-height: 20px;
  }

  // Profile of the cat
  .program-form__field--about-cat {
    width: 630px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 53px;
  }

  .program-form__field--about-cat .program-form__field-input {
    margin-left: 18px;
  }

  // Purpose of the program
  .program-form__field--purpose {
    width: 630px;
    min-height: 196px;

    padding-top: 33px;
    padding-left: 90px;

    margin: 0 auto;
    margin-bottom: 14px;
  }

  .program-form__field--purpose .program-form__field-label {
    padding-bottom: 33px;
    margin-left: 0;

    &::before {
      width: 38px;
      height: 38px;
      border-radius: 19px;
      left: -60px;
      top: -8px;
    }
  }

  .program-form__field--purpose .program-form__field-label:last-child {
    padding-bottom: 0;
  }

  // Users contacts
  .program-form__field--contacts {
    width: 630px;
    margin-bottom: 47px;
  }

  .program-form__field--contacts .program-form__field-title {
    font-size: 36px;

    width: 561px;
    padding: 0;
    padding-right: 42px;
    padding-left: 38px;
    margin-left: -38px;

    background-color: #ffffff;

    &::after {
      top: 59%;
    }

    &::before {
      top: 59%;
    }
  }

  .program-form__wrapper-contacts {
    margin-top: 70px;
  }

  .program-form__field--contacts .program-form__field-input {
    margin-left: 20px;
  }

  .program-form__field-label--mail svg {
    left: 595px;
    top: 18px;
  }

  .program-form__field-label--phone svg {
    left: 596px;
    top: 15px;
  }

  // Users comments
  .program-form__field--comment {
    margin-bottom: 51px;
    margin-left: 30px;
  }

  .program-form__field--comment .program-form__field-title {
    font-size: 36px;

    width: 257px;
    padding: 0 40px;
    margin-left: -30px;
    margin-bottom: 76px;

    background-color: #ffffff;

    &::before {
      top: 62%;
    }

    &::after {
      top: 62%;
    }
  }

  .program-form__field-textarea {
    font-size: 20px;

    width: 630px;
    padding-top: 9px;
    padding-left: 18px;
    padding-bottom: 13px;
    margin-top: 75px;
    margin-left: 10px;
  }

  // Additional info
  .program-form__field--extra {
    margin-bottom: 16px;
  }

  .program-form__field--extra .program-form__field-title {
    width: 289px;
    font-size: 36px;
    padding-right: 42px;
    padding-left: 40px;
    margin-left: -1px;

    background-color: #ffffff;

    &::before {
      top: 55%;
    }

    &::after {
      top: 55%;
    }
  }

  .program-form__wrapper-extra {
    flex-direction: row;
    flex-wrap: wrap;

    width: 630px;
    margin-left: 48px;
    margin-top: 62px;
    margin-bottom: 8px;
  }

  .program-form__field-label--extra {
    padding-bottom: 0;
    margin-bottom: 50px;
    margin-right: 0;
    width: 200px;
    position: relative;

    &::before {
      width: 39px;
      height: 39px;
      left: -13px;
      top: -9px;
    }
  }

  .program-form__field-label--extra:nth-child(odd) {
    margin-right: 142px;
  }

  // Checkboxes
  .program-form__field-checkbox:checked + .program-form__field-option::after {
    left: -4px;
    top: 3px;
  }

  // Radio buttons
  .program-form__field-radio:checked + .program-form__field-option::after {
    width: 18px;
    height: 18px;

    left: -50px;
    top: 2px;

    border-radius: 9px;
  }

  // Send a request button
  .program-form__wrapper-request {
    flex-direction: row;
    align-items: center;

    width: 631px;
    margin-top: -16px;
    margin-left: 4px;
  }

  .program-form__button-submit {
    font-size: 20px;

    width: 283px;
    padding: 16px 0;
    margin: 0;
    margin-right: 63px;
    margin-left: 37px;
    margin-bottom: 8px;
  }

  .program-form__request {
    font-size: 16px;

    margin: 0;
    margin-bottom: 14px;
  }
}

@media (min-width: @width-desktop) {
  .program-form {
    padding-bottom: 34px;
  }

  .program-form__form {
    margin-bottom: 42px;
  }

  .program-form__wrapper-info {
    display: flex;

    margin-bottom: 49px;
  }

  .program-form__field-label {
    margin-left: 0;
  }

  .program-form__field--about-cat {
    width: 568px;
    padding: 0;
    margin: 0;
    margin-right: 78px;
  }

  .program-form__field--purpose {
    width: 570px;

    margin: 0;
    margin-top: 126px;
    margin-bottom: 20px;
  }

  .program-form__field--purpose .program-form__field-label:last-child {
    padding-bottom: 0;
  }

  .program-form__field--contacts {
    width: 1260px;
    padding-left: 0;
    padding-right: 40px;
    margin-bottom: 48px;
  }

  .program-form__field--contacts .program-form__field-title {
    padding: 0 40px;
    margin-left: -41px;
    margin-bottom: 75px;
  }

  .program-form__wrapper-contacts {
    display: flex;
    width: auto;
  }

  .program-form__wrapper-contacts .program-form__field-label {
    width: 568px;
  }

  .program-form__wrapper-contacts .program-form__field-label:first-child {
    margin-right: 80px;
  }

  .program-form__field-label--mail svg {
    left: 535px;
  }

  .program-form__field-label--phone svg {
    left: 536px;
  }

  .program-form__field--comment {
    width: 1260px;
    margin: auto;
    padding-left: 0;
    margin-bottom: 53px;
  }

  .program-form__field--comment .program-form__field-title {
    padding: 0 40px;
    margin-left: -40px;
    margin-bottom: 75px;
  }

  .program-form__field-textarea {
    width: 1221px;
    height: 175px;

    margin-left: 0;
  }

  // Additional info
  .program-form__field--extra {
    width: 1260px;
    margin: auto;
  }

  .program-form__field--extra .program-form__field-title {
    padding: 0 40px;
    margin-left: -41px;
    margin-bottom: 66px;
  }

  .program-form__wrapper-extra {
    width: 1220px;

    margin-left: 13px;
    margin-bottom: 5px;
  }

  .program-form__field-label--extra {
    padding-bottom: 0;
    margin-bottom: 58px;
    margin-right: 145px;
    width: 180px;
  }

  .program-form__field-label--extra:last-child {
    margin-right: 0;
  }

  .program-form__field-label--extra:nth-child(odd) {
    margin-right: 145;
  }

  .program-form__request {
    margin-bottom: 15px;
  }
  // Send a request button
  .program-form__wrapper-request {
    width: 1260px;
  }

  .program-form__button-submit {
    font-size: 20px;

    width: 568px;
    margin-left: 0;
    margin-right: 80px;
  }
}
