.program-form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #111111;
}

.program-form__item {
  border: none;
  margin-bottom: 20px;
}

.program-form__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  display: inline-block;
  position: relative;
  width: auto;
  z-index: 1;

  color: #111111;
  background-color: #ffffff;
}

.program-form__item-title::after {
  content: "";

  height: 2px;
  width: 100vw;
  position: absolute;
  top: 50%;
  z-index: -1;
  margin: 0 20px;

  background-color: #68b738;
}

.program-form__item-title::before {
  content: "";

  height: 2px;
  width: 100vw;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  margin: 0 20px;

  background-color: #68b738;
}

.program-form__text-required {
  font-weight: 400;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;

  color: #444444;
}

.program-form__label,
.program-form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: #222222;
}

.program-form__input {
  color: #444444;
}

.program-form__button-submit {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #68b738;
}

@media (min-width: @width-tablet) {
  .program-form__text {
    font-size: 20px;
    line-height: 30px;
  }

  .program-form__item-title {
    font-size: 36px;
    line-height: 36px;
  }

  .program-form__text-required {
    font-size: 16px;
  }

  .program-form__label,
  .program-form__input {
    font-size: 20px;
    line-height: 20px;
  }

  .program-form__button-submit {
    font-size: 20px;
  }
}
