.promo {
  display: block;
  width: 320px;
  margin: 0 auto;
  
  background-image: url(../../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: #68b738;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1em;

  color: #ffffff;
}

.promo__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;

  color: #ffffff;
}

.promo__button-find {
  width: 280px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;

  color: #ffffff;
  background-color: #68b738;
}
