.site-list {
  .reset-list();
}

.site-list__item-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;

  color: #111111;
}

@media (min-width: @width-tablet) {
  .site-list__item-link {
    font-size: 18px;
    line-height: 25px;
    border-bottom: none;
  }
}

@media (min-width: @width-desktop) {
  .site-list__item-link {
    font-size: 20px;
    color: #ffffff;
    border-bottom: none;
  }
}
