.social {
  background-color: #f2f2f2;
}

.social__list {
  .reset-list();
  display: flex;
  justify-content: space-between;
}

.social__item-link {
  display: inline-block;
  margin: 0 auto;
}

.social__item--vk {
  width: 22px;
  height: 12px;

  background: url("../img/icon-vk-mobile.svg") center no-repeat;
}

.social__item--inst {
  width: 17px;
  height: 17px;

  background: url("../img/icon-insta-mobile.svg") center no-repeat;
}

.social__item--fb {
  width: 10px;
  height: 19px;

  background: url("../img/icon-fb-mobile.svg") center no-repeat;
}
